@model Fahasa.Models.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sản Phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChiTietHDs)
        {
            <tr>
                <th scope="row">@item.MaCTHD</th>
                <td>@item.Sach.TenSach</td>
                <td>@item.quanlity</td>
                <td> @string.Format("{0:C}", @item.Sach.Gia)</td>
                <td>@item.TongTien</td>
            </tr>
        }
        
     
    </tbody>
</table>

